<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <body>
        <form action="/login" method="post" class="user">
            <div class="row">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="text" name="username" placeholder="Enter your id...">
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Login</button>
            </div>
        </form>
        <hr>
        <a th:href="@{/register}">회원 가입</a>
    </body>
</html>