<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>File List</title>
    <script src="https://code.jquery.com/jquery-latest.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/static/js/fileUploader.js"></script>
    <script src="/static/js/getFolderId.js"></script>
    <script src="../../static/js/fileUploader.js"></script>
    <script src="../../static/js/getFolderId.js"></script>
</head>
<body>
    <div>
        <h3 sec:authorize="isAuthenticated()">반갑습니다. <span sec:authentication="name"></span>님!</h3>
        <h4 sec:authorize="isAuthenticated()">할당 용량 <span th:text="${MaxSize}"></span>MB</h4>
        <h4 sec:authorize="isAuthenticated()">사용 용량 <span th:text="${CurrentSize}"></span>Bytes</h4>
        <a sec:authorize="isAnonymous()" th:href="@{/}">로그인</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
    </div>
    <hr>
    <div sec:authorize="isAuthenticated()">
    <div>
        <label>경로 선택</label>
        <div>
        <tr th:each="folder : ${folderList}">
            <td>
                <button th:id="idButton"
                        onclick="passOnData()" th:text="${folder.path} + '/' + ${folder.fileName}"
                        th:data-path="${folder.path} +'/' +${folder.fileName}"
                        th:data-id="${folder.id}">
                </button>
            </td>
        </tr>
        </div>
        <hr>
        <form id="uploadForm" enctype="multipart/form-data">
            <input type="file" id="fileInput">
        </form>
        <div class="row">
            <label>경로:</label>
            <input id="filePath" type="text" th:name="filePath" placeholder="저장할 경로 지정" readonly>
            <input type="hidden" id="uploadCsrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button onclick="upload()">
                파일 업로드
            </button>
        </div>

        <p id="resultUploadPath"></p>
    </div>
    <hr>
    <div>
        <label>디렉토리 생성</label>
        <div>
            <div th:id="createFolderForm">
                <input th:id="parent" type="text" placeholder="생성할 폴더 경로" name="parent" readonly>
                <input type="hidden" th:id="parentId" name="parentId">
                <input th:id="folderName" type="text" placeholder="폴더 명" name="folder">
                <button onclick="passOnData2()">생성 완료</button>
            </div>
        </div>
    </div>

    <hr>

    <div>
        <table>
            <thead>
            <th>경로</th>
            <th>파일이름</th>
            <th>생성일자</th>
            <th>파일크기</th>
            <th>다운로드</th>
            <th>삭제</th>
            <th>이름 수정</th>
            </thead>
            <tbody>
            <tr th:each="file : ${fileList}">
                <td th:text="${file.path}"></td><td th:text="${file.fileName}"></td>
                <td th:text="${file.createdDate}"></td><td th:text="${file.fileSize}"></td>
                <td>
                    <a th:if="${file.isDirectory} == false" th:href="@{'/download/{fileId}'(fileId=${file.id})}" type="submit">다운로드</a>
                </td>
                <td th:if="${file.isDirectory} == false">
                    <form th:action="@{'/delete/{objectId}'(objectId=${file.id})}" th:method="delete">
                        <button type="submit">삭제</button>
                    </form>
                </td>
                <td th:if="${file.isDirectory} == true and ${file.isRoot} == false">
                    <form th:action="@{'/deleteDirectory/{objectId}'(objectId=${file.id})}" th:method="delete">
                        <button type="submit">폴더 삭제</button>
                    </form>
                </td>
                <td th:if="${file.isDirectory} == false">
                    <div class="row">
                    <form th:action="@{'/updateFileName/{objectId}'(objectId=${file.id})}" th:object="${updateFile}" th:method="post">
                        <input type="text" name="fileName">
                        <button type="submit">이름 바꾸기</button>
                    </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</body>
</html>